In [1]:
import pandas as pd

In [4]:
# pip install xlrd
# pip install openpyxl

In [5]:
xlsfile = pd.ExcelFile('data.xlsx')

In [6]:
dframe = xlsfile.parse('Sheet1')

In [7]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6674         450
1             264         254         744
2              11          42          32
3              75          21          32