In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)
ranger

range(0, 15)

In [8]:
ser3.reindex(ranger, method='ffill') # forward fill untill the next index has value

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A -1.547975 -0.491769  1.226040 -0.843386 -0.105360
B -0.498596  0.537134 -0.069974  0.441784 -2.578018
D  1.030624 -0.655850 -1.746426  0.800507  0.342149
E  0.858808  1.076820 -0.003940 -0.481469 -1.881108
F  0.320729  0.187044  2.085189 -0.141579 -1.023347

In [10]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [11]:
dframe2

       col1      col2      col3      col4      col5
A -1.547975 -0.491769  1.226040 -0.843386 -0.105360
B -0.498596  0.537134 -0.069974  0.441784 -2.578018
C       NaN       NaN       NaN       NaN       NaN
D  1.030624 -0.655850 -1.746426  0.800507  0.342149
E  0.858808  1.076820 -0.003940 -0.481469 -1.881108
F  0.320729  0.187044  2.085189 -0.141579 -1.023347

In [12]:
new_colums = ['col1','col2','col3','col4','col5','col6']

In [14]:
dframe2.reindex(columns=new_colums)

       col1      col2      col3      col4      col5  col6
A -1.547975 -0.491769  1.226040 -0.843386 -0.105360   NaN
B -0.498596  0.537134 -0.069974  0.441784 -2.578018   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.030624 -0.655850 -1.746426  0.800507  0.342149   NaN
E  0.858808  1.076820 -0.003940 -0.481469 -1.881108   NaN
F  0.320729  0.187044  2.085189 -0.141579 -1.023347   NaN

In [15]:
dframe2

       col1      col2      col3      col4      col5
A -1.547975 -0.491769  1.226040 -0.843386 -0.105360
B -0.498596  0.537134 -0.069974  0.441784 -2.578018
C       NaN       NaN       NaN       NaN       NaN
D  1.030624 -0.655850 -1.746426  0.800507  0.342149
E  0.858808  1.076820 -0.003940 -0.481469 -1.881108
F  0.320729  0.187044  2.085189 -0.141579 -1.023347

In [26]:
dframe2.loc[['A','B','C','D','E','F'], new_colums]

C:\Users\anil1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -1.547975 -0.491769  1.226040 -0.843386 -0.105360   NaN
B -0.498596  0.537134 -0.069974  0.441784 -2.578018   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.030624 -0.655850 -1.746426  0.800507  0.342149   NaN
E  0.858808  1.076820 -0.003940 -0.481469 -1.881108   NaN
F  0.320729  0.187044  2.085189 -0.141579 -1.023347   NaN